<turbo-frame id="new-post-feedback">
</turbo-frame>

<div class="flex flex-col items-center">
  <%= form_with scope: :post, url: posts_path, class: "w-1/2" do |form| %>
    <%= form.label :body, class: "sr-only" %>
    <%= form.text_area :body, placeholder: "Enter your text", class: "textarea-input", required: true %>
    <%= form.submit 'Post!', class: "btn-submit" %>
  <% end %>

  <turbo-frame id="posts" class="py-5">
    <% @posts.each do |post| %>
      <%= render post %>
    <% end %>
  </turbo-frame>
</div>