<header class="bg-gray-200">
  <nav class="mx-auto flex max-w-7xl items-center justify-between py-2 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <%= link_to image_tag("https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600", class: "h-8 w-auto"), root_path, class: "m-1.5 p-1.5" %>
    </div>
    <div class="flex lg:hidden">
      <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
        <span class="sr-only">Open main menu</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <%= link_to "Users", users_path, class: "text-sm font-semibold leading-6 text-gray-900" %>
      <%= link_to "Posts", posts_path, class: "text-sm font-semibold leading-6 text-gray-900" %>
    </div>
    <% if current_user %>
      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        <%= link_to "Log out", logout_users_path, class: "text-sm font-semibold leading-6 text-gray-900" %>
      </div>
    <% else %>
      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        <%= link_to "Log in", login_users_path, class: "text-sm font-semibold leading-6 text-gray-900" %>
      </div>
    <% end -%>
  </nav>
</header>